h1
{
    font-family: 'Times New Roman' , Times, serif;
    text-decoration: underline;
    font-size: xx-large;
    color: #660066;
    font-weight: normal;
}
 .style4
 {
    height: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
        #style9
        {
            color: #660066;
        }